   html body div#div_msg {
      position: absolute;
      display: block ; 
      min-height: 3% ; 
      clear: both; 
      text-align: center ; 
      background-color: Aqua; 
   }

   #spn_err_msg {
      position: absolute;
      color: #FF0000 ; 
   }

   .div_spacer2 {
      display: block ; 
      clear: both ; 
      height: 1% ; 
      width: 100% ; 
   }
   
