#app_list_labels {
   margin: 5% 10% 5% 10%;
}

#app_list_labels .lbl_row {
	width: 100% ; 
	display: inline-block;
}

#app_list_labels .lbl_lft {
   display: block ; 
   float: left;
   min-width: 20%;
   /* background-color: Red; */
}

#app_list_labels .lbl_rgt {
   display: block ; 
	float: left ; 
   max-width: 80%;
   /* background-color: Aqua; */
}

#app_list_labels .lbl_rgt :active {
  background-color: #DCFFFF;
  color:#000066;
}

#vfor_cols {
   opacity: 0.8 ;
	margin: 1% 0% 0% 0% ; 
   padding: 1%;
   border: 3px solid #CDCDCD;
   border-radius: 7px;
}

#vfor_cols:hover, #vfor_cols:focus {
   opacity: 1;
   background-color: #F0F8FF ; 
   box-shadow: 4px 4px rgba(0,0,0,0.6);
   -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.6);
   -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.6);
   -o-box-shadow: 4px 4px 4px rgba(0,0,0,0.6);
}
