@media screen (max-width: 639px) {
   .boxes{
      flex-flow: column nowrap;
      align-items:center;
   }
   .left{
      min-width: 100%;
   }
   .right{
      min-width: 100%;
   }
}
@media screen (min-width: 640px) {
   .boxes{
      flex-flow: row nowrap;
   }
}

#div_central_panel{
   padding: 0;
}
body{
  text-align: left;
  padding: 1% 1% 40% 2%;
}

.boxes{
   display:flex;
   justify-content:space-between;
   align-items:center;
}


.col{
   display:flex;
   flex-flow: column nowrap;
}

.left{
   flex: 0 1 auto;
   min-width: 50%;
   align-self:flex-start;
   justify-content:space-between;
}
.right{
   flex: 0 1 auto;
   align-self:flex-start;
   min-width: 50%;
   align-items:center;
   justify-content:space-between;
}

h1{
  font-size:1.5em;
  color:#CDCDCD;
}

ul{
   list-style: none; 
   width: 220px;
}

.cls_lst_item {
   margin: 2px 2px 2px 2px;
   line-height: 3;
   position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
   font-weight: bold ; 
   border-radius: 7px;
	border: 1px solid #CDCDCD;
}

ul :hover {
   outline: none !important;
   border:2px solid #C0C0C0;
   box-shadow: 0 0 15px #719ECE;
   caret-color: red;
   resize: none;
}

.cls_lst_item a {
   padding: 2px 2px 2px 20px;
   text-decoration: none;
}

.cls_lst_item a:hover {
   padding: 2px 2px 2px 20px;
}
