#div_central_panel{
   padding: 0;
}
body{
  text-align: left;
  padding: 1% 1% 40% 2%;
}

#container{
   margin:0;
}
#left{
   float:left;
   width:70%;
   overflow:hidden;
}
#right{
   float:left;
   width:30%;
   overflow:hidden;
} 

h1{
  font-size:1.5em;
  color:#CDCDCD;
}

ul{
   list-style: none; 
   width: 270px;
}

.cls_lst_item {
   margin: 2px 2px 2px 20px;
   line-height: 3;
   position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   font-weight: bold ; 
   border-radius: 7px;
	border: 1px solid #CDCDCD;
}

ul :hover {
   outline: none !important;
   border:2px solid #C0C0C0;
   box-shadow: 0 0 15px #719ECE;
   caret-color: red;
   resize: none;
}

.cls_lst_item a {
   padding: 2px 2px 2px 20px;
   text-decoration: none;
}

.cls_lst_item a:hover {
   padding: 2px 2px 2px 20px;
}
