#div_central_panel{
   padding: 0;
}
body{
  margin: 0 auto 0 auto;  
  text-align:center;
  margin: 3% 0% 3% 0%;   
}

p{
  font-size:12px;
  text-decoration: none;
  color:#ffffff;
}

h1{
  font-size:1.5em;
  color:#CDCDCD;
}

.box{
  background:white;
  width:300px;
  border-radius:9px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 0px;
  border: #0E8BF3 1px solid; 
}

.email{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}

input[type="submit"]{
  background:#2ecc71;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;
  
  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:30%;
  font-weight:800;
  font-size:0.8em;
}

input[type="submit"]:hover{
  background:#2CC06B; 
  color:yellow;
}

