html, body {
   overflow-x: hidden;
   max-width: 100%; 
   font-family: Helvetica Neue, Arial, sans-serif;
   scroll-behavior: smooth;
}
.app_name_tooltip {
   color: #D3D3D3 ;
   font-size: 75%;
   display: inline-block;
   position: fixed; 
   z-index: 10; 
   left: 1%;
   top: 1%;
   font-weight: 500;
}
.app_name_tooltiptext {
   visibility: hidden ; 
   position: absolute;
   z-index: 10;
   top: 2%;
   left: 20px;
   width: 60px;
   background-color: grey ; 
   color: #fffaaa;
   text-align: right;
   border-radius: 7px;
   padding: 7px 10px 7px 10px ;
}

#app_tooltip:hover {
   visibility: visible;
   background-color: #D3D3D3;
	border: 2px solid #CDCDCD;
	border-radius: 3px;
	box-shadow: 1px 1px 15px #C0C0C0;
	-webkit-box-shadow: 1px 1px 15px #C0C0C0;
	-moz-box-shadow: 1px 1px 15px #C0C0C0;
   border-top-left-radius: 45%;
   border-top-right-radius: 45%;
   border-bottom-left-radius: 45%;
   border-bottom-right-radius: 45%;
   margin: 3px;
}
.app_name_tooltip:hover .app_name_tooltiptext {
   visibility: visible;
}
html body div#div_msg {
	 position: absolute; 
    top: 6%; 
    left: 12%;
	 z-index: 0; 
	 font-size: 90%;
	 min-width: 50%; 
	 min-height: 7%; 
	 min-height: 6%; 
	 max-width: 80%; 
	 overflow-x: hidden;
	 text-align: center; 
    vertical-align: center;
	 border-radius: 4px;
    line-height: 25px;
}
html body div#div_msg span#spn_err_msg {
	color: #FF0000 ; 
	background-color: #FFFF00;
}
#spn_warr_msg {
	color: #817693; 
	background-color: #E5DCF3;
}
html body div#div_notice {
    position: absolute;
    top: 94%; 
	 bottom: 2%; 
    left: 15%;
	 z-index: 0; 
	 padding: 10px; 
	 font-size: 80%;
	 min-width: 70%; 
	 max-width: 80%; 
	 overflow-x: hidden;
	 text-align: center; 
	 border-radius: 5px;
}
#spn_notice {
	color: #FF0000 ; 
}
.div_spacer2 {
	display: block ; 
	clear: both ; 
	height: 1% ; 
	width: 100% ; 
}
