<html>
<head>
  <title> list <%= " $item " =%>  <%= "as $as in " =%> <%= "$db " =%> </title> 
  <link rel="stylesheet" href="../../bower_components/jqcloud2/dist/jqcloud.min.css">
</head>
<body>

<div id="div_cloud_items">
</div>

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="../../bower_components/jqcloud2/dist/jqcloud.min.js"></script>

   <script>
		let items = [
			{
				  text: "john"
				, weight: 1
			},
			{
				  text: "steve"
				, weight: 2.5
			},
			{
				  text: "bob"
				, weight: 5
			}
		];

		$('#div_cloud_items').jQCloud(items, {
		  width: 500,
		  height: 350,
		  steps: 10
		});
   </script>

</body>
</html>
