**/*.zip
**/*.log
**/*.tdy
**/*.dmp.sql
dat/xls/run/*.xlsx
dat/tests/t*.txt
dat/qto/**
src/bash/qto/tmp/**
src/perl/issue_tracker/script/hypnotoad.pid
**/~$*.xlsx
**/.DS_Store
src/perl/issue_tracker/public/bower_components/**
src/perl/issue_tracker/public/node_modules/**
src/perl/issue_tracker/public/poc/poc-vue-js-modal/node_modules/**
**/*.htpasswd
src/perl/issue_tracker/public/lib/js/**
**/*.crt
**/*.key
src/perl/issue_tracker/public/dat/tmp/**
dat/tmp/**
**/tmp/**
dat/mix/2019/**
src/node/node_modules/**
src/js/node/js-unit-tests/01-set-url-param/node_modules/**
**/node_modules/**
