# exclude all the zip files
**/*.zip
**/*.log
**/*.tdy
dat/xls/run/*.xlsx
dat/tests/t*.txt
dat/issue-tracker/**
src/bash/issue-tracker/tmp/**
src/perl/issue_tracker/script/hypnotoad.pid
src/react/conf-srch/node_modules/**
**/~$*.xlsx
**/.DS_Store
