# exclude all the zip files
**/*.zip
**/*.log
**/*.tdy
**/*.dmp.sql
dat/xls/run/*.xlsx
dat/tests/t*.txt
dat/issue-tracker/**
src/bash/issue-tracker/tmp/**
src/perl/issue_tracker/script/hypnotoad.pid
src/react/conf-srch/node_modules/**
**/~$*.xlsx
**/.DS_Store
dat/mix/issues/2018/2018-02/2018-02-03/**
src/perl/issue_tracker/public/bower_components/**
src/perl/issue_tracker/public/node_modules/**
src/perl/issue_tracker/public/poc/poc-vue-js-modal/node_modules/**
