# file: cnf/issue-tracker.doc-pub-host.cnf
[MainSection]

# multiple projects support
issue_tracker_project = our-proj

# the root dir for the cnf, data and sql scripts for this project 
proj_instance_dir = /opt/csitea/our-proj

pgsql_scripts_dir = /opt/csitea/our-proj/src/sql/pgsql/dev_our_proj

# the root dir for all the data in the project 
DataDir = /opt/csitea/our-proj/dat

# where are stored the txt issues files
mix_data_dir = /opt/csitea/our-proj/dat/mix

# The logging directory 
LogDir = %ProductInstanceDir%/dat/log

# the default Log file
LogFile =         %LogDir%/%ProductName%.log

# the default chars separating the time from the txt
LogTimeToTextSeparator = ###

# whether or not to log to a file
LogToFile =          1

# the time format of the logging 
TimeFormat =         YYYY.MM.DD - hh:mm:ss

# the time format of the logging 
DbType 	=         postgres

# the log file
LogFile=%LogDir%/%ProductName%.%YYYY%.%MM%.%DD%.log

# the host on which the mariadb is running 
postgres_db_host = host-name

# OBS ! dev , tst , prd product instances to own db !
postgres_db_name   = dev_our_proj

# the mariadb user name
postgres_db_user = ysg

# Whether or not to print messages to STDOUT and / or STDERR
PrintConsoleMsgs =               1

# Whether or not to pring INFO messages
PrintInfoMsgs =                  1                             

# Whether or not to pring WARNING messages
PrintWarningMsgs =               1                             

# Whether or not to pring ERROR messages
PrintErrorMsgs =                 1                             

# Whether or not to pring DEBUG messages
PrintDebugMsgs =                 1

# Whether or not to pring TRACE messages
PrintTraceMsgs =                 1 

Emails=yordan.georgiev@gmail.com

# v0.2.7
# on which host the mysql is running
mysql_host=host-name
 
# on which port the mysql is listening 
mysql_port=13306

# the name of the mysql db 
mysql_db_name = dev_our_proj

# the name of the mysql user 
mysql_user = usrisgpuben

# the pw of the mysql user
mysql_user_pw = secret

# the web host where the isg-pub instance residues 
web_host=host-name

# the number of the web port 
web_port=5001

# where are the mysql scripts situated
mysql_scripts_dir = /opt/csitea/issue-tracker/issue-tracker.0.5.0.dev.ysg/src/sql/mysql/dev_issue_tracker

# the id from the url of the google spread sheet
# google_spread_sheet_id=1kj4ii1Q2gDhRSuctuHMJYhWkxxbDQQWgMMAOr8zVky0

PS1='our-proj-issue-tracker-proj \u@\h [\d \t] [\w] $ \n\n '
# eof file: cnf/issue-tracker.doc-pub-host.cnf
