 server {
    listen 78;
    listen [::]:78;

    server_name localhost;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $remote_addr;
	
	add_header X-Frame-Options "sameorigin" always;
	add_header X-XSS-Protection "1; mode=block" always;
	add_header X-Content-Type-Options "nosniff";

    location / {
        proxy_pass http://localhost:8078/;

         proxy_http_version 1.1;
         proxy_set_header Upgrade $http_upgrade;
         proxy_set_header Connection "upgrade";
         proxy_set_header Host $host;
         proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
         proxy_set_header X-Forwarded-Proto $scheme;
         proxy_set_header X-Real-IP        $remote_addr;
         proxy_set_header X-Forwarded-For
         $proxy_add_x_forwarded_for;

         client_max_body_size       10m;
         client_body_buffer_size    128k;

         proxy_connect_timeout      90;
         proxy_send_timeout         90;
         proxy_read_timeout         90;

         proxy_buffer_size          4k;
         proxy_buffers              4 32k;
         proxy_busy_buffers_size    64k;
         proxy_temp_file_write_size 64k;

         proxy_headers_hash_max_size 512;
         proxy_headers_hash_bucket_size 128; 
    }
  }

server {

  listen 441 ssl;
  server_name %web_host%;
  server_tokens off;

  ssl_certificate /etc/letsencrypt/live/%web_host%/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/%web_host%/privkey.pem;

  location / {
    proxy_pass http://localhost:8078/;
    proxy_http_version 1.1;
    proxy_pass_header Authorization;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_read_timeout 10s;
  }

  location ~* .(ico|css|js|gif|jpeg|jpg|png|woff|ttf|otf|svg|woff2|eot)$ {
  	expires 4h;
   add_header Cache-Control "public, max-age=31536000";
  }
}
