<html>
<head>
   <title>autocomplete proto </title>
   <link rel="stylesheet" href="../../poc/autocomplete/searchbox-autocomplete.css">

</head>
<div id="div_searchbox">
  <searchbox :dblist="pdblist" />
</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/x-template" id="searchbox">
  <div class="autocomplete">
    <input id="inp_quick_srch" type="text" v-model="searchQuery" 
    @input="onChange" @keyup.down="onArrowDown" @keyup.up="onArrowUp" @keyup.enter="onEnter" />
    <ul id="searchbox-results" v-show="isOpen" class="autocomplete-results">
      <li class="loading" v-if="isLoading">
        Loading ...
      </li>
      <li v-else v-for="(result, i) in results" :key="i" @click="setResult(result)" class="autocomplete-result" :class="{ 'is-active': i === arrowCounter }">
        {{ result }}
      </li>
    </ul>
  </div>
</script>
<script src="div-searchbox.js"></script>
