/* main courtesy of this adaptation code goes to:
      * Ryan Seddon - https://www.thecssninja.com/demo/css_tree/ AND
      * Erik Terwan - https://codepen.io/erikterwan/pen/grOZxx */
#div_logout{
   position: relative;
   margin-left: 87%;
   margin-top: 1%;
}
#app_label {
   padding: 10% 0% 2% 0%;
   font-size: 70%;
}
.cls_fa, .cls_da {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
  text-align: left;
}

a.cls_fa:hover, a.cls_fa:focus, a.cls_da:hover, a.cls_da:focus {
   color:#FF0066;
   background-color: #82CAFA;
   text-align: left;
   border-radius: 3px;
   border-top:    1px solid #82CAFA;
   border-right:  2px solid #82CAFA;
   border-bottom: 1px solid #82CAFA;
   border-left:   2px solid #82CAFA;
   border-top-style: none;
   border-bottom-style: none;
   box-sizing: border-box;
   box-shadow: 3px 3px 3px #888;
}
li label a:focus {
	color:#FF0066;
	background-color: #82CAFA;
}

#chk_left_menu input {
  width: 30px;
  height: 30px;
}

.cls-lft-mnu-lbl {
   width: 80%;
   text-align: left;
}

#left_menu_toggle {
   user-select: none;
   -webkit-user-select: none;
   display: inline-block;
   position: fixed; 
   z-index: 100; /* should go over everything */
   left: 2%;
   top: 2%;
}
#left_menu_toggle input {
  display: block;
  width: 35px;
  height: 29px;
  position: absolute;
  top: -15px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#left_menu_toggle span {
  display: block;
  width: 23px;
  height: 3px;
  margin-bottom: 4px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.99,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.99,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#left_menu_toggle span:first-child {
  transform-origin: 0% 0%;
}
#left_menu_toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#left_menu_toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(1px, 1px);
  background: #232323;
}
#left_menu_toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0; /* hide the middle one */
  transform: rotate(0deg) scale(0.2, 0.2);
}

#left_menu_toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(1px, 1px);
}

#left_menu {
  position: absolute;
  width: 300px;
  margin: -35px 20px -10px -10px;
  background: #b4aeb4;
  background-image: linear-gradient(to bottom right, #b4aeb4, #d6d0d6);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  border-radius: 7px;
  border:1px solid #b4aeb4;
  box-sizing: border-box;
  box-shadow: 7px 7px 7px #888;
}
#left_menu li {
  padding: 3px 0;
}
/** And let's slide it in from the left  */
#left_menu_toggle input:checked ~ ol {
  transform: none;
}
/** start explorer */
*{margin:0;padding:0;}
input{
   font-size:1em;
}
ol.tree{
	padding-left:30px;
}
li {
	list-style-type:none;
	color:#fff;position:
	relative;margin-left:-15px;
}
li input {
	width:2em;
	height:2em;
	position:absolute;
	left:-0.5em;
	top:0;
	opacity:0;
	cursor:pointer;
   font-size:1em;
}
li input + ol{
	height:1em;
	margin:-16px 0 0 -44px;
	background:url("../../../../../themes/thme-blue/img/controls/toggle-small-expand.png") no-repeat 40px 0;
}
li input + ol > li {
	display:none;
	margin-left:-14px !important;
	padding-left:1px
}
li.file{
	margin-left:-1px !important;
}
li.file a {
	display:inline-block;
	padding-left:21px;
	color:#fff;
	text-decoration:none;
	background:url("../../../../../themes/thme-blue/img/controls/document.png") no-repeat 0 0;
  	border-bottom-left-radius: 11%;
   border-bottom-right-radius: 11%;
   border-top-left-radius: 11%;
   border-top-right-radius: 11%;
}
li.file a:hover{
	color:#FF0066;
	background-color: #82CAFA;
}
li.file a:active {
	color:#FF0066;
	background-color: #82CAFA;
}
li.file a:focus {
	color:#FF0066;
	background-color: #82CAFA;
}
li input:checked + ol {
	height:auto;margin:-21px 0 0 -44px;padding:25px 0 0 80px;
	background:url("../../../../../themes/thme-blue/img/controls/toggle-small.png") no-repeat 40px 5px;
	color:red;
  	border-bottom-left-radius: 11%;
   border-bottom-right-radius: 11%;
   border-top-left-radius: 11%;
   border-top-right-radius: 11%;
}
li input:checked + ol > li{
	display:block;
	margin:0 0 0.063em;
}
li input:checked + ol > li:first-child{
	margin:0 0 0.125em;
}
li label {
	padding-left:37px;
	cursor:pointer;
	background:url("../../../../../themes/thme-blue/img/controls/folder-horizontal.png") no-repeat 15px 2px;
	display:block;
}
li label a {
	display:inline-block;
	padding-left:5px;
	color:#fff;
	text-decoration:none;
  	border-bottom-left-radius: 11%;
   border-bottom-right-radius: 11%;
   border-top-left-radius: 11%;
   border-top-right-radius: 11%;
}
li label a:hover{
	color:#FF0066;
	background-color: #82CAFA;
}
li label a:active {
	color:#FF0066;
	background-color: #82CAFA;
}
