.dia-header {
   margin-bottom: 5%;
}
.dia-footer {
   color: grey;
   margin-top: 15%;
   margin-bottom: 2%;
}
.form-container {
   margin-bottom: 5%;
   padding: 0% 0% 0% 0%;
}
label, input, select, textarea :not(#inp_srch_box){
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 13px;
   font-weight: normal;
   line-height: 1.3;
   margin-top: 15px;
   border-radius: 5px;
   width: 60%;
}
label {
   display: inline-block;
   width: 17%;
   text-align: right;
   margin-right: 3%;
}
/* override the left-menu cls */
.cls_lbl_fldrs{ 
   display: inline-block;
   width: 60%;
   text-align: left;
   margin-right: 3%;
}
input.minput[type="text"]{
   background-color: #F0FFFF;
   border:1px solid #B0C4DE;
   box-sizing: border-box;
   padding: 1%;
}
input.minput[type="text"]:focus, input.minput[type="text"]:hover, input.minput[type="text"]:active{
   outline: none !important;
   border:2px solid #F5B7B1;
   box-sizing: border-box;
   padding: 1%;
   box-shadow: 0 0 15px #719ECE;
}
textarea.mtextarea {
   margin-top: 15px;
   background-color: #F0FFFF;
   border:1px solid #B0C4DE;
   border-radius: 5px;
   box-sizing: border-box;
   padding: 1%;
   width: 60%;
}
textarea.mtextarea:focus, textarea.mtextarea:hover, textarea.mtextarea:active{
   margin-top: 15px;
   outline: none !important;
   box-shadow: 0 0 15px #719ECE;
   border:2px solid #F5B7B1;
   border-radius: 5px;
   box-sizing: border-box;
   padding: 1%;
   width: 60%;
}
form {
    margin:3% 0;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .2s ease;
}

.cls_itm_ok_btn {
   background: #3ab967 ;
   color: white;
   font-size: large;
   padding: 4px 12px 4px 12px;
   border-top:    3px solid #3ab967;
   border-right:  2px solid #3ab967;
   border-bottom: 2px solid #3ab967;
   border-left:   2px solid #3ab967;
   border-left-style: none;
   border-right-style: none;
   border-radius: 3px;
}
.cls_itm_ok_btn:hover , .cls_itm_ok_btn:focus , .cls_itm_ok_btn:active{
   background: #94e2b0 ;
   color: blue;
   font-size: large;
   padding: 4px 12px 4px 12px;
   border-top:    3px solid #94e2b0;
   border-right:  2px solid #94e2b0;
   border-bottom: 2px solid #94e2b0;
   border-left:   2px solid #94e2b0;
   border-left-style: none;
   border-right-style: none;
   box-shadow: 3px 3px 3px #888;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: top ;
}

.modal-container {
  width: 59%;
  min-width: 400px;
  height: auto;
  min-height: 100px;
  margin: 10px auto ;
  padding: 2% 3% 1% 3% ;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .2s ease;
  font-family: Helvetica, Arial, sans-serif;
}

#modal-close-btn-01 {
   background: #4887e8 ;
   font-size: large;
   padding: 2px;
   color: white;
   border: 2px solid #4887e8;
   border-left-color: #4887e8;
   border-right-color: #4887e8;
   border-top-color: #4887e8;
   border-radius: 3px;
}
#modal-close-btn-01:hover , #modal-close-btn-01:focus , #modal-close-btn-01:active{
   font-size: large;
   background: #82aae8 ;
   color: blue;
   padding: 2px;
   border: 2px solid #82aae8;
   border-left-color: #82aae8;
   border-right-color: #82aae8;
   border-top-color: #82aae8;
   border-radius: 3px;
   box-shadow: 3px 3px 3px 3px #C0C0C0;
}

#modal-close-btn-01 {
  display: inline-block;
  margin-right: 15%;
  float: right;
}
.cls-del-btn{
   background: #grey ;
   padding: 4px 12px 2px 12px;
   border-top:    1px solid #C0C0C0;
   border-right:  1px solid #C0C0C0;
   border-bottom: 1px solid #C0C0C0;
   border-left:   1px solid #C0C0C0;
   border-radius: 3px;
}
.cls-del-btn:hover , .cls-del-btn:focus , .cls-del-btn:active{
   background: #c0c0c0;
   padding: 4px 12px 2px 12px;
   border-top:    1px solid #C0C0C0;
   border-right:  1px solid #C0C0C0;
   border-bottom: 1px solid #C0C0C0;
   border-left:   1px solid #C0C0C0;
   border-radius: 3px;
   border-left-style: none;
   border-right-style: none;
   box-shadow: 3px 3px 3px #888;
}

#close-buttons {
  margin-top: 3%;
  text-align: center;
}

#modal-close-btn-02 {
  display: inline-block;
  margin-right: 3%;
  margin-left: 3%;
}

.cls_itm_del_btn{
  display: inline-block;
  margin-right: 3%;
  margin-left: 3%;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
#modal-dia-title-id {
   width: 30%;
   border:none;
}
#modal-dia-share-lnk {
   width: 100%;
   border:none;
}
