body {
   padding: 1% 1% 40% 1%;
}
th {
   background-color: white;
   color: rgba(161, 154, 154, 0.66);
   height: 20px;
   line-height: 20px;
   border-color: #C0C0C0;
   background-color: #F8F9F9;
}
th.active {
   color: white;
   font-weight: 400;
   background-color: #DCDCDC;
   border-color: #C0C0C0;
   border-width: 4px;
   height: 20px;
   line-height: 20px;
}
td{
   height: 35px;
   line-height: 35px;
   border-style: none;
}

a {
   background-color: transparent;
}

a.interlnk:hover {
   color: blue ; 
   background-color: #A5BDED;
   font-weight: bold ; 
   border-top-left-radius: 15%;
   border-top-right-radius: 15%;
   border-bottom-left-radius: 15%;
   border-bottom-right-radius: 15%;
	border: 1px solid #CDCDCD;
	box-shadow: 4px 4px 10px #A5BDED;
	-webkit-box-shadow: 4px 4px 10px #A5BDED;
	-moz-box-shadow: 4px 4px 10px #A5BDED;
}
a.interlnk:active {
	color: red ; 
	background-color: #A5BDED;
	font-weight: 800;
   border-top-left-radius: 15%;
   border-top-right-radius: 15%;
   border-bottom-left-radius: 15%;
   border-bottom-right-radius: 15%;
	box-shadow: 4px 4px 10px #A5BDED;
	-webkit-box-shadow: 4px 4px 10px #A5BDED;
	-moz-box-shadow: 4px 4px 10px #A5BDED;
}
a.interlnk:focus {
   color: red ; 
   background-color: #A5BDED;
	font-weight: 800;
   border-top-left-radius: 15%;
   border-top-right-radius: 15%;
   border-bottom-left-radius: 15%;
   border-bottom-right-radius: 15%;
	border: 1px solid #CDCDCD;
	box-shadow: 4px 4px 10px #A5BDED;
	-webkit-box-shadow: 4px 4px 10px #A5BDED;
	-moz-box-shadow: 4px 4px 10px #A5BDED;
}
a.interlnk:visited {
  color: purple;
}
.cls_cnt_lnkble {
   padding: 2px;
   overflow: hidden;
	min-width: 10px;
	max-width: 400px; /* why percentages do not work here !!! */
   width: 100%; 
	resize: both; 
   background-color: transparent;
   box-sizing: border-box;
   color: inherit;
   font-size: 14px ; 
   white-space: nowrap;
}
.cls_cnt_lnkble:hover {
	opacity: 1.2 ;
	background-color: #FFFFE0;
}
.cls_cnt_lnkble:focus {
	background-color: #FFFFE0;
}
.cls_tbltooltip {
  position: relative;
  display: inline-block;
}
.cls_tbltooltip .cls_tbltooltiptext {
  visibility: hidden;
  width: 80%;
  height: auto;
  background-color: white;
  color: dark-grey;
  text-align: left ;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  font-size: 13px ;
  top: -40px;
  right: 100%; 
  border: 2px solid white;
  box-shadow: 4px 4px 4px 4px #C0C0C0;
  -webkit-box-shadow: 4px 4px 4px 4px #C0C0C0;
  -moz-box-shadow: 4px 4px 4px 4px #C0C0C0;
  word-wrap:break-word;
}
.cls_tbltooltip:hover .cls_tbltooltiptext {
  visibility: visible;
  padding: 2% 2% 2% 2% ;
}
button.srch-grid-chk-btn {
   font-size: large;
   background: #7195cc ;
   color: white;
   padding: 1px 10px 1px 10px;
   margin: 3px;
   text-align: right;
   width: auto;
   border: 2px solid #7195cc;
   border-left-color: #7195cc;
   border-left-style: none;
   border-right-color: #7195cc;
   border-right-style: none;
   border-top-color: #7195cc;
   border-radius: 3px;
}
button.srch-grid-chk-btn:hover , button.srch-grid-chk-btn:focus , button.srch-grid-chk-btn:active{
   font-size: large;
   background: #7195cc ;
   color: blue;
   padding: 1px 10px 1px 10px;
   border: 2px solid #7195cc;
   border-right-color: #7195cc;
   border-right-style: none;
   border-left-color: #7195cc;
   border-left-style: none;
   border-top-color: #7195cc;
   border-radius: 3px;
   box-shadow: 3px 3px 3px 3px #C0C0C0;
}
a.cls-lst-grd-opn-btn {
   transform: rotateZ(90deg);
   font-size: large;
   background: #4887e8 ;
   color: white;
   padding: 1px 10px 1px 10px ;
   margin: 3px;
   text-align: right;
   width: auto;
   border: 2px solid #4887e8;
   border-left-color: #4887e8;
   border-left-style: none;
   border-right-color: #4887e8;
   border-right-style: none;
   border-top-color: #4887e8;
   border-radius: 3px;
}
a.cls-lst-grd-opn-btn:hover , a.cls-lst-grd-opn-btn:focus , a.cls-lst-grd-opn-btn:active{
   transform: rotateZ(90deg);
   font-size: large;
   background: #4887e8 ;
   color: grey;
   padding: 1px 10px 1px 10px ;
   border: 2px solid #4887e8;
   border-right-color: #4887e8;
   border-right-style: none;
   border-left-color: #4887e8;
   border-left-style: none;
   border-top-color: #4887e8;
   border-radius: 3px;
   box-shadow: 3px 3px 3px 3px #C0C0C0;
}
