# file: cnf/issue-tracker.host-name.cnf
[MainSection]

# multiple projects support
issue_tracker_project = issue-tracker

# OBS ! dev , tst , prd product instances to own db !
db_name   = prd_issue_tracker

# where the scripts to run are situated
sql_dir = /opt/csitea/issue-tracker/issue-tracker.0.2.5.dev.ysg/src/sql/pgsql/dev_issue_tracker

# where are stored the txt issues files
proj_daily_data_root_dir = /vagrant/csitea/issue-tracker/doc/txt/issues

# The logging directory 
LogDir = %ProductInstanceDir%/dat/log

# the default Log file
LogFile =         %LogDir%/%ProductName%.log

# the default chars separating the time from the txt
LogTimeToTextSeparator = ###

# whether or not to log to a file
LogToFile =          1

# the time format of the logging 
TimeFormat =         YYYY.MM.DD - hh:mm:ss

# the time format of the logging 
DbType 	=         postgres

# the log file
LogFile=%LogDir%/%ProductName%.%YYYY%.%MM%.%DD%.log

# the host on which the mariadb is running 
db_host = host-name

# the pgsql port
db_port = 13306



# the mariadb user name
db_user = ysg

# Whether or not to print messages to STDOUT and / or STDERR
PrintConsoleMsgs =               1

# Whether or not to pring INFO messages
PrintInfoMsgs =                  1                             

# Whether or not to pring WARNING messages
PrintWarningMsgs =               1                             

# Whether or not to pring ERROR messages
PrintErrorMsgs =                 1                             

# Whether or not to pring DEBUG messages
PrintDebugMsgs =                 1

# Whether or not to pring TRACE messages
PrintTraceMsgs =                 1 

Emails=yordan.georgiev@gmail.com
# eof file: cnf/issue-tracker.host-name.cnf
PS1="$issue_tracker_project $PS1"
