# file: cnf/issue-tracker.host-name.cnf
[MainSection]

# multiple projects support
issue_tracker_project = issue-tracker

# OBS ! tst , tst , prd product instances to own db !
postgres_db_name   = tst_issue_tracker

# where the scripts to run are situated
pgsql_scripts_dir = /opt/csitea/issue-tracker/issue-tracker.0.4.0.tst.ysg/src/sql/pgsql/tst_issue_tracker

# the root dir for all the project data 
DataDir = /opt/csitea/issue-tracker/issue-tracker.0.4.0.tst.ysg/dat

# where are stored the txt issues files
mix_data_dir = /opt/csitea/issue-tracker/issue-tracker.0.4.0.tst.ysg/dat/mix/issues

# The logging directory 
LogDir = %ProductInstanceDir%/dat/log

# the default Log file
LogFile =         %LogDir%/%ProductName%.log

# the default chars separating the time from the txt
LogTimeToTextSeparator = ###

# whether or not to log to a file
LogToFile =          1

# the time format of the logging 
TimeFormat =         YYYY.MM.DD hh:mm:ss

# the time format of the logging 
DbType 	=         postgres

# the log file
LogFile=%LogDir%/%ProductName%.%YYYY%.%MM%.%DD%.log

# the host on which the mariadb is running 
db_host = host-name

# the pgsql port
db_port = 13306

# the mariadb user name
postgres_db_user = ysg

# Whether or not to print messages to STDOUT and / or STDERR
PrintConsoleMsgs =               1

# Whether or not to pring INFO messages
PrintInfoMsgs =                  1                             

# Whether or not to pring WARNING messages
PrintWarningMsgs =               1                             

# Whether or not to pring ERROR messages
PrintErrorMsgs =                 1                             

# Whether or not to pring DEBUG messages
PrintDebugMsgs =                 1

# Whether or not to pring TRACE messages
PrintTraceMsgs =                 1 

# the id from the url of the google spread sheet
google_spread_sheet_id = 1p4YwuSB3GtQ0i5ginn4Vc95t09w1WNWJra2yUH1aL0Y

Emails=yordan.georgiev@gmail.com
# changed the propmpt
PS1="$issue_tracker_project \u@\h [\d \t] [\w] $ \n\n "

# v0.4.0
# on which host the mysql is running
mysql_host=host-name
 
# on which port the mysql is listening 
mysql_port=13306

# the name of the mysql db 
mysql_db_name = tst_issue_tracker

# the name of the mysql user 
mysql_user = usrisgpuben

# the pw of the mysql user
mysql_user_pw = secret


# where are the mysql scripts situated
mysql_scripts_dir = /opt/csitea/issue-tracker/issue-tracker.0.4.0.tst.ysg/src/sql/mysql/tst_issue_tracker

# the web host where the isg-pub instance residues 
web_host=host-name

# the number of the web port 
web_port=5001

# the mysql db data containing load xls
# after 
# load_xls=/opt/csitea/issue-tracker/issue-tracker.0.4.0.tst.ysg/doc/xls/issue-tracker-en.xlsx
load_xls=/vagrant/var/csitea/issue-tracker/issue-tracker.1.0.0.prd.ysg/issue-tracker-en.xlsx

PS1='issue-tracker-tst \u@\h [\d \t] [\w] $ \n\n '

# the last entry is always ignored - this is a bug in the cnf parser 
foo=bar

# eof file: cnf/issue-tracker.tst.host-name.cnf
