# file: cnf/qto.host-name.cnf
[MainSection]

# qto is just a project with multiple projects support
qto_project = qto

# where the scripts to run are situated
pgsql_scripts_dir = %ProductInstanceDir%/src/sql/pgsql/qto

# the root dir for all the project data 
DataDir = %ProductInstanceDir%/dat

# where are stored the txt issues files
mix_data_dir = %ProductInstanceDir%/dat/mix

# the postgres confs - OBS ! dev , tst , prd product instances to own db !
postgres_db_name           = tst_qto
postgres_db_host           = 127.0.0.1
postgres_db_port           = 25432
postgres_db_user           = usrqtoapp
postgres_db_user_pw        = usrqtoapp
postgres_db_useradmin      = usrqtoadmin
postgres_db_useradmin_pw   = usrqtoadmin

# logging confs - set 1 for yes and 0 for now
LogToFile            = 1
LogDir               = %ProductInstanceDir%/dat/log
LogFile              = %LogDir%/%ProductName%.%YYYY%.%MM%.%DD%.log
PrintConsoleMsgs     = 1
PrintInfoMsgs        = 1                             
PrintWarningMsgs     = 1                             
PrintErrorMsgs       = 1                             
PrintDebugMsgs       = 1
PrintTraceMsgs       = 1 
TimeFormat =         YYYY.MM.DD hh:mm:ss
# the default chars separating the time from the txt

LogTimeToTextSeparator = ###
# the id from the url of the google spread sheet

google_spread_sheet_id = 1p4YwuSB3GtQ0i5ginn4Vc95t09w1WNWJra2yUH1aL0Y

Emails=yordan.georgiev@gmail.com

# the web host where the qto app layer instance residues 
web_host=host-name

# on which port the mojo should listen
mojo_morbo_port=3002

# on which port the mojo should listen
mojo_hypnotoad_port=8082

PS1='qto-proj tst \u@\h [\d \t] [\w] $ \n\n '

# the last entry is always ignored - this is a bug in the cnf parser 
foo=bar

# eof file: cnf/qto.dev.host-name.cnf
