#file: /opt/csitea/qto/qto.0.0.7.dev.ysg/src/bash/qto/qto.cnf 
[MainSection]

#use simple var_name=var_value syntax 

#the name of this application 
run_unit=qto

#the name of this application's db
postgres_db_name=dev_qto


#eof file: /opt/csitea/qto/qto.0.0.7.dev.ysg/src/bash/qto/qto.cnf
