# file: src/bash/qto/qto.host-name.cnf
[MainSection]

#use simple var_name=var_value syntax 

#the name of this application 
app_name=qto


db=qto

# to whom to send e-mails - use space as delimiter
AdminEmail=yordan.georgiev@gmail.com

# this way each environment will se its respective db 
postgres_db_name="$env_type"_"$db"

# where to place the backups of the 
network_backup_dir=/vagrant/csitea/qto/dat/zip

# whether or not to print DEBUG starting msgs
do_print_debug_msgs=1

# because the cnf parsers func has a bug ..
foo=bar

#eof file: src/bash/qto/qto.host-name.cnf
