#file: /opt/csitea/issue-tracker/issue-tracker.0.0.7.dev.ysg/src/bash/issue-tracker/issue-tracker.cnf 
[MainSection]

#use simple var_name=var_value syntax 

#the name of this application 
run_unit=issue-tracker

#the name of this application's db
db_name=dev_issue-tracker


#eof file: /opt/csitea/issue-tracker/issue-tracker.0.0.7.dev.ysg/src/bash/issue-tracker/issue-tracker.cnf
