
body {
	font-family: Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
	color: #444;
   padding: 1% 3% 40% 3%;
}

#demo {
   padding: 0;
}
#dev_central_panel{
   padding: 0;
   display: box;
}

#div_grid_tmpl {
   width: 100%;
   overflow-x: auto;
}
/* start grid */
table {
   table-layout:fixed;
   max-width: 90%;
	border: 4px solid #F0F8FF ; 
	border-radius: 9px;
	background-color: #fff;
   border-collapse:separate;
   -moz-border-radius:9px;
}
th {
	background-color: #339aff ; 
	color: rgba(255,255,255,0.66);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.arrow {
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	margin-left: 5px;
	opacity: 0.66;
}

.arrow.asc {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #fff;
}

.arrow.dsc {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #fff;
}
th.active .arrow {
	opacity: 1;
}

tr {
   height: 1em;
}

tr.cls_even {
	background-color: #f9f9f9;
}
tr.cls_odd {
   background-color: #F0F8FF;
}
tr:hover {
   border: 3px solid #CDCDCD;
   border-radius: 5px;
   box-shadow: 1px 1px 10px #C0C0C0;
   -webkit-box-shadow: 1px 1px 10px #C0C0C0;
   -moz-box-shadow: 1px 1px 10px #C0C0C0;
}
tr:selected{
   border: 3px solid #CDCDCD;
   border-radius: 5px;
   box-shadow: 1px 1px 10px #C0C0C0;
   -webkit-box-shadow: 1px 1px 10px #C0C0C0;
   -moz-box-shadow: 1px 1px 10px #C0C0C0;
}
table th, td {
	min-width: 20px;
   max-width: 500px; /* why percentages do not work here !!! */
	padding: 10px 10px;
   white-space: pre-line;
   word-wrap: break-word;
}

th.active {
   color: #FFFFE0; 
   font-weight: bold;
   background-color: rgba(5, 136, 230, 0.45);
   border-color: #C0C0C0;
   border-width: 4px;
}

th:focus {
   color: #FFFFE0; 
   font-weight: bold;
   background-color: rgba(5, 136, 230, 0.45);
   border-color: #C0C0C0;
   border-width: 4px;
}


#div_frm_srch {
	position:relative;
	width: 100%;
	float: center;
	padding: 2% 10% 0% 1%;
	margin: 1% 5% 1% 7%;
	clear: both;
	display: block;
}
#frm_srch {
	display: block;
}
#inp_quick_srch {
	width: 35%;
   border: 2px solid #dadada;
   border-radius: 5px;
   padding: 1px 3px; 
   line-height: 18px; 
}

#inp_quick_srch:focus{
   outline: none;
   border-color: #9ecaed;
   box-shadow: 0 0 10px #9ecaed;
	width: 48%;
   padding: 2px 4px; 
   line-height: 22px; 
}
/* stop  grid */

/* start pgr */
.pgr-btn, .pgr-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.pgr-bar .pgr-button {
    white-space: normal;
}
.pgr-bar .pgr-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
a {
    color: inherit;
}
a {
    background-color: transparent;
}

a:hover {
  	text-decoration: underline;
	font-weight: bold ; 
}

a:active {
	color: red ; 
	background-color: yellow;
	font-weight: bold ; 
}

a:focus{
  color: red ; 
  background-color: yellow;
  font-weight: bold ; 
}

a:visited {
  color: purple;
}

/* stop pgr */

#btnNew{
    position: fixed;
    left: 1%;
    top: 7%;
    color: white;
}
