
body {
	font-family: Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
	color: #444;
   padding: 1% 3% 40% 3%;
}

#demo {
   padding: 0;
}
#dev_central_panel{
   padding: 0;
   display: box;
}



