body {
   padding: 1% 3% 40% 3%;
}
#dev_central_panel{
   padding: 0;
}
#btnNew{
   position: fixed;
   font-size: 24px;
   font-stretch: expanded;
   left: 1%;
   top: 7%;
   width: 56px;
   border-radius: 50%;
   align-items: center;
   background-color: rgb(63, 81, 181);
   background-repeat: no-repeat;
   border-bottom-color: rgb(63, 81, 181);
   border-bottom-left-radius: 50%;
   border-bottom-right-radius: 50%;
	border: 3px solid #CDCDCD;
   border-bottom-style: none;
   border-left-color: rgb(63, 81, 181);
   border-left-style: none;
   border-right-color: rgb(63, 81, 181);
   border-right-style: none;
   border-top-color: rgb(63, 81, 181);
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   border-top-style: none;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
   box-sizing: border-box;
   color: rgb(255, 255, 255);
   flex-basis: auto;
   flex-grow: 0;
   flex-shrink: 0;
   font-family: Helvetica Neue, Arial;
   height: 56px;
   justify-content: center;
   line-height: 17.9px;
   margin-bottom: 6px;
   margin-left: 8px;
   margin-right: 8px;
   margin-top: 6px;
   text-decoration: none;
   text-decoration-color: rgb(255, 255, 0);
   text-decoration-line: none;
   text-decoration-style: solid;
   text-rendering: optimizelegibility;
   text-transform: uppercase;
   transition-property: all, color;
   transition-timing-function: cubic-bezier(0.25, 0.8, 0.5, 1), ease;
   vertical-align: bottom;
}
#btnNew:hover {
   position: fixed;
   color: yellow ;
	font-weight: 800;
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   border-bottom-left-radius: 50%;
   border-bottom-right-radius: 50%;
	border: 3px solid #CDCDCD;
	box-shadow: 3px 3px 10px #C0C0C0;
	-webkit-box-shadow: 3px 3px 10px #C0C0C0;
	-moz-box-shadow: 3px 3px 10px #C0C0C0;
}

#btnNew:focus {
   position: fixed;
   color: yellow ;
	font-weight: 900;
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   border-bottom-left-radius: 50%;
   border-bottom-right-radius: 50%;
	border: 3px solid #CDCDCD;
	box-shadow: 3px 3px 10px #C0C0C0;
	-webkit-box-shadow: 3px 3px 10px #C0C0C0;
	-moz-box-shadow: 3px 3px 10px #C0C0C0;
}
#btnNew:active {
   position: fixed;
   color: yellow ;
	font-weight: 900 ;
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   border-bottom-left-radius: 50%;
   border-bottom-right-radius: 50%;
	border: 4px solid #CDCDCD;
	box-shadow: 4px 4px 10px #C0C0C0;
	-webkit-box-shadow: 4px 4px 10px #C0C0C0;
	-moz-box-shadow: 4px 4px 10px #C0C0C0;
}
textarea {
	min-width: 10px;
	max-width: 500px; /* why percentages do not work here !!! */
	resize: both; 
   overflow: visible ; 
   box-sizing: border-box;
   background-color: transparent;
   border-style: none;
   color: inherit;
   font-size: 14px ; 
}

#grid tbody tr td:nth-child(1){ 
   width: 24px;
   padding: 2px ; 
   font-size: 80%;
}

#grid tbody tr td:nth-child(2){ 
   width: 8px ; 
   display: inline-block;
   overflow: hidden;
   font-size: 11px ; 
   color: #a4a9c4;
}
.cls_cnt_edtble {
	padding: 2px;
	white-space:pre-wrap;
}
.cls_cnt_edtble:hover {
	opacity: 1.2 ;
	background-color: #FFFFE0;
	white-space:pre-wrap;
}
.cls_cnt_edtble:focus {
	background-color: #FFFFE0;
}
.cls_tbltooltip {
  position: relative;
  display: inline-block;
}
.cls_tbltooltip .cls_tbltooltiptext {
  visibility: hidden;
  width: 70%;
  height: auto;
  background-color: white;
  color: dark-grey;
  text-align: left ;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  font-size: 13px ;
  top: -40px;
  right: 100%; 
  border: 2px solid white;
  box-shadow: 4px 4px 4px 4px #C0C0C0;
  -webkit-box-shadow: 4px 4px 4px 4px #C0C0C0;
  -moz-box-shadow: 4px 4px 4px 4px #C0C0C0;
  word-wrap:break-word;
}
.cls_tbltooltip:hover .cls_tbltooltiptext {
  visibility: visible;
  padding: 2% 2% 2% 2% ;
}
