#div_pager {
   float: left ; 
   padding-left: 60% ; 
   padding-top: 1% ; 
}
.pgr-btn, .pgr-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.pgr-bar .pgr-button {
    white-space: normal;
}
.pgr-bar .pgr-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: inline;
    outline: 0;
}
a {
    color: inherit;
}
a {
    background-color: transparent;
}

a:hover {
  	text-decoration: underline;
	font-weight: bold ; 
}

a:active {
	color: red ; 
	background-color: yellow;
	font-weight: bold ; 
}

a:focus{
  color: red ; 
  background-color: yellow;
  font-weight: bold ; 
}

a:visited {
  color: purple;
}

#div_page_sizer {
   position: relative ; 
   clear: both ; 
   margin-left: 2%;
   float: left ; 
}
