#div_pager {
   float: left ; 
   padding-left: 43% ; 
   padding-top: 1% ; 
}
.pgr-btn, .pgr-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.pgr-bar .pgr-button {
    white-space: normal;
}
.pgr-bar .pgr-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: inline;
    outline: 0;
}
a {
    color: inherit;
}
a {
    background-color: transparent;
}

a:hover {
   color: red ; 
   background-color: yellow;
   font-weight: bold ; 
   border-top-left-radius: 45%;
   border-top-right-radius: 45%;
   border-bottom-left-radius: 45%;
   border-bottom-right-radius: 45%;
	border: 1px solid #CDCDCD;
	box-shadow: 2px 2px 10px #C0C0C0;
	-webkit-box-shadow: 2px 2px 10px #C0C0C0;
	-moz-box-shadow: 2px 2px 10px #C0C0C0;
}

a:active {
	color: red ; 
	background-color: yellow;
	font-weight: 800;
   border-top-left-radius: 45%;
   border-top-right-radius: 45%;
   border-bottom-left-radius: 45%;
   border-bottom-right-radius: 45%;
	box-shadow: 2px 2px 10px #C0C0C0;
	-webkit-box-shadow: 2px 2px 10px #C0C0C0;
	-moz-box-shadow: 2px 2px 10px #C0C0C0;
}

a:focus{
   color: red ; 
   background-color: yellow;
	font-weight: 800;
   border-top-left-radius: 45%;
   border-top-right-radius: 45%;
   border-bottom-left-radius: 45%;
   border-bottom-right-radius: 45%;
	border: 1px solid #CDCDCD;
	box-shadow: 2px 2px 10px #C0C0C0;
	-webkit-box-shadow: 2px 2px 10px #C0C0C0;
	-moz-box-shadow: 2px 2px 10px #C0C0C0;
}

a:visited {
  color: purple;
}

#div_page_sizer {
   position: relative ; 
   clear: both ; 
   margin-left: 2%;
   float: left ; 
}
