#div-right-click-menu {
   z-index: 2;
}
.title {
  display: block;
  color: blue;
}
.title a {
  text-decoration:none;
}
.cls-context-menu { 
   display:none; 
   position:absolute; 
   border-top-left-radius: 15%;
   border-top-right-radius: 15%;
   border-bottom-left-radius: 15%;
   border-bottom-right-radius: 15%;
   border: 3px solid #CDCDCD;
   box-shadow: 15px 15px 25px #C0C0C0;
   -webkit-box-shadow: 15px 15px 20px #C0C0C0;
   -moz-box-shadow: 15px 15px 20px #C0C0C0;
}
.cls-context-menu ul, .cls-context-menu li {
    list-style:none;
    margin:0; padding:0;
    background:white;
}
.cls-context-menu { border:solid 1px #CCC;}
.cls-context-menu li { 
   border-bottom:solid 1px #CCC; 
   display:block;
   padding:5px 12px; 
   text-decoration:none;
   color:blue;
}
.cls-context-menu li:hover{ 
   background: blue;
   color: #FFF;
}
.cls-context-menu li:last-child { border:none; }
.context-menu-icon {
  top: 1px;
  position: relative;
  margin-right: 4px;
}
.cls-context-menu-item {
  cursor: pointer;
  display:block;
  padding:20px;
  background:#ECECEC;
}
