
#div_search_box {
  position: absolute ; 
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: -3% ; 
  margin-left: 13%;
  clear; both; 
  width: 42%;
}

#inp_srch_box {
   min-width: 41%;
   border: 2px solid #dadada;
   border-radius: 5px;
   padding: 1px 3px; 
   line-height: 18px; 
}

#inp_srch_box:focus{
   width: 60%;
   outline: none;
   border-color: #9ecaed;
   box-shadow: 0 0 0px #9ecaed;
   padding: 2px 4px; 
   line-height: 22px; 
}
#inp_srch_box:hover {
   width: 60%;
   outline: none;
   border-color: #9ecaed;
   box-shadow: 0 0 0px #9ecaed;
   padding: 2px 4px; 
   line-height: 22px; 
}
.autocomplete {
  position: relative;
}

.autocomplete-results {
  opacity: 1; 
  position: relative;
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  height: auto;
  overflow: auto;
  width: 100%;
  background-color: white;
  min-width: 41%;
}

.autocomplete-result {
  opacity: 1; 
  list-style: none;
  text-align: left;
  padding: 4px 2px;
  cursor: pointer;
  background-color: white;
  min-width: 41%;
}

.autocomplete-result.is-active,
.autocomplete-result:hover {
  opacity: 1; 
  position: relative;
  z-index:100;
  background-color: #00BFFF;
  color: white;
  font-weight: bold;
  min-width: 41%;
}

