body {
   padding: 1% 3% 40% 3%;
}

#content {   
	overflow:auto;
 	width: 100% ; 
}

#lft_body {
	overflow:auto;
 	width: 80% ; 
	background: white;
	float:left; 
   padding: 0% 10% 0% 10% ;
   transition: margin-right .5s;
}

#rgt_toc {
   padding: 0% 3% 0% 3% ;
}

h1, h2, h3, h4, h5, h6 {
   float: left;
   clear: both;
   font-size: 16px;
   margin-block-start: 0em;
   margin-block-end: 0em;
   margin-left: -14px;
}

.scroll {
   text-decoration: none;
}

.cls_desc {
   clear: both;
   float: left;
}

.cls_src {
   clear: both;
   float: left;
   color: #4d4d4c;
   font: 0.9em Consolas, Menlo, Monaco, Courier, monospace;
   line-height: 1.5em;
   text-align: left;
   text-shadow: #eee 0 1px 0;
   white-space: pre-wrap;
}

.permalink {
   visibility: hidden;
}

.permalink: hover {
   visibility: visible;
}


.rgt_side_nav {
  width: 27%;
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color: #E8E8E8 ;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 3%; 
  transition: 0.5s; 
}

.rgt_side_nav a {
  padding: 0% 0% 0% 7%;
  text-decoration: none;
  font-size: 14px;
  color:#1936e0 ;
  display: block;
  transition: 0.3s;
}

.rgt_side_nav a:hover {
  color: #f1f1f1;
}

.rgt_side_nav a:active {
  color: #f1f1f1;
}

.rgt_side_nav .cls_close_btn {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 30px;
  margin-right: 70px;
}

@media screen and (max-height: 20%) {
  .rgt_side_nav {
		padding-top: 10px;
	}
  .rgt_side_nav a {
		font-size: 12%;
	}
}

#div_open_rgt_menu {
  position: fixed;
  top: 0 ;
  right: 0 ;
  z-index: 1; 
  float:right;
  font-size: 25px;
  padding: 1% 2% 2% 2%;
}
