body {
   padding: 1% 3% 40% 3%;
}
#content {   
	overflow:auto;
 	width: 100% ; 
}
.container {
   margin-bottom: 10%;
}
#lft_body {
	overflow:auto;
 	width: 80% ; 
	background: white;
	float:left; 
   padding: 0% 10% 0% 10% ;
   transition: margin-right .5s;
}
#rgt_toc {
   padding: 0% 3% 0% 3% ;
}
h1, h2, h3, h4, h5, h6 {
   padding: 30px 0px 10px 0px;
   float: left;
   clear: both;
   font-size: 16px;
   margin-block-start: 0em;
   margin-block-end: 0em;
   margin-left: -10px;
   line-height: 1.5em;
}
.scroll {
   text-decoration: none;
}
.cls_desc {
   clear: both;
   float: left;
   width: 80% ;
   white-space: pre-wrap;
}
.cls_src {
   clear: both;
   float: left;
   color: #4d4d4c;
   width: 80% ;
   padding: 2% 4% 2% 1%;
   background-color: #F8F8F8;
   font: 0.9em Consolas, Menlo, Monaco, Courier, monospace;
   text-align: left;
   text-shadow: #eee 0 1px 0;
   white-space: pre-wrap;
   line-height: 1.5em;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
}
.permalink {
   display: block;
   height: 20px; /*same height as header*/
   margin-top: -20px; /*same height as header*/
   visibility: hidden;
}
.permalink: hover {
   visibility: visible;
}
.rgt_side_nav {
  width: 27%;
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color: #E8E8E8 ;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 3%; 
  transition: 0.5s; 
}
.rgt_side_nav a {
  padding: 0% 0% 0% 7%;
  text-decoration:none;
  font-size:14px;
  color:#1936e0 ;
  display:block;
  transition: 0.3s;
}
.rgt_side_nav a:hover , .rgt_side_nav a:active{
   color: #FFFFE0;
   font-weight: bold;
   background-color: #D3D3D3;
   border: 1px solid #CDCDCD;
   border-radius: 2px;
   box-shadow: 1px 1px 10px #C0C0C0;
   -webkit-box-shadow: 1px 1px 10px #C0C0C0;
   -moz-box-shadow: 1px 1px 10px #C0C0C0;
   border-top-left-radius: 5%;
   border-top-right-radius: 5%;
   border-bottom-left-radius: 5%;
   border-bottom-right-radius: 5%;
   margin: 1px;
}
#close_btn_top {
  position: absolute;
  top: 0;
  margin: 2px 2px 2px 2px;
  font-size: 25px;
  padding-right: 70px;
}
#close_btn_bottom {
  position: relative;
  padding-bottom: 10%;
  margin: 2px 2px 2px 2px;
  left: 0px;
  font-size: 30px;
  padding-right: 70px;
}
@media screen and (max-height: 20%) {
  .rgt_side_nav {
		padding-top: 10px;
	}
  .rgt_side_nav a {
		font-size: 12%;
	}
}
#div_open_rgt_menu {
  position: fixed;
  top: 0 ;
  right: 0 ;
  z-index: 1; 
  float:right;
  font-size: 25px;
  padding: 1% 2% 2% 2%;
}
.cls_doc_img {
   clear: both;
   font-size: 80%;
   font-weight: bold;
   color: #A9A9A9 ;
   padding-bottom: 5% ;
}
.cls_print_toc {
   padding-left: 10%;
   line-height: 1.5em;
}
@media print {
   .cls_page_breaker {
      page-break-after: always;
   }
}
@media screen {
   .cls_page_breaker {
      visibility: hidden ;
   }
}
.cls_fig {
padding: 3% 0% 2% 0%;
}
