html, body {
	max-width: 100%; 
	overflow-x: hidden;
}
#div_app_name {
	position: fixed; 
	z-index: 0; 
	left: 1%;
	top: 0%;
	color: #C0C0C0; 
	font-weight: bold;
}
html body div#div_msg {
	 font-size: 110%;
	 min-width: 90%; 
	 max-width: 98%; 
	 overflow-x: hidden;
	 text-align: center; 
	 border-radius: 5px;
	 padding: 10px; 
	 position: fixed; 
	 z-index: 0; 
	 bottom: 95%; 
}
#spn_err_msg {
	color: #FF0000 ; 
	background-color: #FFFF00;
}
.div_spacer2 {
	display: block ; 
	clear: both ; 
	height: 1% ; 
	width: 100% ; 
}
