html body div#div_msg {
    font-size: 110%;
    min-width: 90%; 
    text-align: center; 
    border-radius: 5px;
    padding: 10px; 
    position: fixed; 
    z-index: 0; 
    bottom: 95%; 
}

#spn_err_msg {
	color: #FF0000 ; 
	background-color: #FFFF00;
}

.div_spacer2 {
	display: block ; 
	clear: both ; 
	height: 1% ; 
	width: 100% ; 
}
   

