html, body {
   overflow-x: hidden;
   max-width: 100%; 
   font-family: Helvetica Neue, Arial, sans-serif;
}
.app_name_tooltip {
   color: #C0C0C0;
   font-size: 75%;
   position: fixed; 
   z-index: 10; 
   left: 2%;
   top: 1%;
   font-weight: 500;
   display: inline-block;
}
.app_name_tooltip .app_name_tooltiptext {
   visibility: hidden ; 
   position: absolute; 
   z-index: 10;
   top: 0%;
   left: 12%;
   margin-right: 10px ; 
   width: 60px;
   background-color: grey ; 
   color: #fff;
   text-align: right;
   border-radius: 6px;
   padding: 2px 10px 2px 10px ;
}

.app_name_tooltip:hover .app_name_tooltiptext {
    visibility: visible;
}

html body div#div_msg {
	 font-size: 110%;
	 min-width: 90%; 
	 max-width: 98%; 
	 overflow-x: hidden;
	 text-align: center; 
	 border-radius: 5px;
	 padding: 10px; 
	 position: fixed; 
	 z-index: 0; 
	 bottom: 95%; 
}
#spn_err_msg {
	color: #FF0000 ; 
	background-color: #FFFF00;
}
.div_spacer2 {
	display: block ; 
	clear: both ; 
	height: 1% ; 
	width: 100% ; 
}
